/* allusers.css */

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .display-4 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .card {
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  
  .card-text {
    font-size: 1.2rem;
    color: #555;
    margin: 8px 0;
  }
  
  .btn-group {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }
  
  .btn {
    font-size: 1.2rem;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    margin-right: 10px;
    text-decoration: none;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    border: 2px solid #007bff;
  }
  
  .btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-danger {
    color: #fff;
    background-color: #dc3545;
  }
  
  .btn-danger:hover {
    background-color: #b70010;
  }
  
  .btn-rounded {
    border-radius: 20px;
    padding: 8px 16px;
  }
  
  .btn-group .btn:last-child {
    margin-right: 0;
  }
  .btn2{
    text-decoration: none;
    margin-right:  1px;
  }
  
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 20px 20px;
    padding: 10px 20px;
    background-color: transparent;
    border-top: 1px solid #ddd;
  }
  .btn1{
    margin-right: 2px;
  }
  .confirmation-text {
    font-size: 24px; 
  }
  
  /* Additional Styles for Mobile View */
  @media (max-width: 576px) {
    .display-4 {
      font-size: 1.8rem;
      margin-left: 7px;
    }
  
    .btn1.btn-primary.btn-rounded {
      font-size: 12px;
      padding: 6px 12px;
      text-decoration: none;
    }
  }
  